In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nalvo,PH,2023-01-10 22:04:24,16.8096,120.5108,66.92,75,56,4.65
1,1,Punta Arenas,CL,2023-01-10 22:04:24,-53.1500,-70.9167,55.51,67,0,12.66
2,2,Barrow,US,2023-01-10 22:04:25,71.2906,-156.7887,-12.98,77,0,18.41
3,3,Curup,ID,2023-01-10 22:04:25,-3.4667,102.5333,66.06,98,94,0.87
4,4,Sonoita,MX,2023-01-10 22:04:25,31.8500,-112.8333,70.23,17,45,9.53

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Atuona,PF,2023-01-10 22:04:26,-9.8000,-139.0333,79.07,67,4,13.49
6,6,Saint-Louis,SN,2023-01-10 22:04:26,16.3333,-15.0000,77.09,9,83,15.75
8,8,Alofi,NU,2023-01-10 22:04:27,-19.0595,-169.9187,78.98,87,100,20.20
9,9,Hithadhoo,MV,2023-01-10 22:04:28,-0.6000,73.0833,80.91,77,100,13.06
17,17,Caravelas,BR,2023-01-10 22:04:31,-17.7125,-39.2481,77.58,83,82,7.34
19,19,Hilo,US,2023-01-10 22:04:32,19.7297,-155.0900,80.33,61,40,9.22
21,21,Pandan,PH,2023-01-10 22:04:32,14.0453,124.1694,76.37,86,100,12.73
25,25,Kavieng,PG,2023-01-10 22:04:34,-2.5744,150.7967,82.38,73,100,4.21
27,27,Rikitea,PF,2023-01-10 22:04:35,-23.1203,-134.9692,78.69,76,17,18.07
33,33,Maceio,BR,2023-01-10 22:04:36,-9.6658,-35.7353,78.24,88,20,9.22

In [34]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5        Atuona      PF     79.07  -9.8000 -139.0333
6   Saint-Louis      SN     77.09  16.3333  -15.0000
8         Alofi      NU     78.98 -19.0595 -169.9187
9     Hithadhoo      MV     80.91  -0.6000   73.0833
17    Caravelas      BR     77.58 -17.7125  -39.2481
19         Hilo      US     80.33  19.7297 -155.0900
21       Pandan      PH     76.37  14.0453  124.1694
25      Kavieng      PG     82.38  -2.5744  150.7967
27      Rikitea      PF     78.69 -23.1203 -134.9692
33       Maceio      BR     78.24  -9.6658  -35.7353

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng                Hotel Name
5        Atuona      PF     79.07  -9.8000 -139.0333               Villa Enata
6   Saint-Louis      SN     77.09  16.3333  -15.0000
8         Alofi      NU     78.98 -19.0595 -169.9187             Taloa Heights
9     Hithadhoo      MV     80.91  -0.6000   73.0833         Scoop Guest House
17    Caravelas      BR     77.58 -17.7125  -39.2481    Pousada dos Navegantes
19         Hilo      US     80.33  19.7297 -155.0900       Hilo Hawaiian Hotel
21       Pandan      PH     76.37  14.0453  124.1694           Bonifacio Lodge
25      Kavieng      PG     82.38  -2.5744  150.7967       Nusa Island Retreat
27      Rikitea      PF     78.69 -23.1203 -134.9692           People ThankYou
33       Maceio      BR     78.24  -9.6658  -35.7353  Hotel Ponta Verde Maceió

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))